[submodule "VeriPB_Prooflogger"]
	path = VeriPB_Prooflogger
	url = git@github.com:DietVds/VeriPB_Prooflogger.git
[submodule "cadical"]
	path = /solver-proxy/cadical
	url = https://github.com/arminbiere/cadical.git
